[submodule "Packages/CSPP_Core"]
	path = Packages/CSPP_Core
	url = https://github.com/HB-GSI/CSPP_Core
[submodule "Packages/CSPP_DeviceBase"]
	path = Packages/CSPP_DeviceBase
	url = https://github.com/HB-GSI/CSPP_DeviceBase
[submodule "Packages/CSPP_IVI"]
	path = Packages/CSPP_IVI
	url = https://github.com/HB-GSI/CSPP_IVI
[submodule "Packages/CSPP_DSC"]
	path = Packages/CSPP_DSC
	url = https://github.com/HB-GSI/CSPP_DSC
[submodule "Packages/CSPP_Examples"]
	path = Packages/CSPP_Examples
	url = https://github.com/HB-GSI/CSPP_Examples
[submodule "Packages/CSPP_Syslog"]
	path = Packages/CSPP_Syslog
	url = https://github.com/HB-GSI/CSPP_Syslog
[submodule "Packages/CSPP_LNA"]
	path = Packages/CSPP_LNA
	url = https://github.com/HB-GSI/CSPP_LNA.git
[submodule "Packages/CSPP_RT"]
	path = Packages/CSPP_RT
	url = https://github.com/HB-GSI/CSPP_RT.git
[submodule "Packages/DimLVEvent"]
	path = Packages/DimLVEvent
	url = https://github.com/HB-GSI/DimLVEvent.git
[submodule "Packages/CSPP_DIM"]
	path = Packages/CSPP_DIM
	url = https://github.com/HB-GSI/CSPP_DIM.git
[submodule "Packages/CSPP_OPCUA"]
	path = Packages/CSPP_OPCUA
	url = https://github.com/HB-GSI/CSPP_OPCUA.git
[submodule "Packages/CSPP_ObjectManager"]
	path = Packages/CSPP_ObjectManager
	url = https://github.com/HB-GSI/CSPP_ObjectManager.git
	branch = HBDev
[submodule "Packages/BNT/BNT_DAQmx"]
	path = Packages/BNT/BNT_DAQmx
	url = https://github.com/HB-BNT/BNT_DAQmx.git
[submodule "Packages/BNT/BNT_DSCXYGraph"]
	path = Packages/BNT/BNT_DSCXYGraph
	url = https://github.com/HB-BNT/BNT_DSCXYGraph.git
[submodule "Packages/CSPP_Seq"]
	path = Packages/CSPP_Seq
	url = https://github.com/HB-GSI/CSPP_Seq.git
[submodule "Packages/BNT/BNT_TDMS"]
	path = Packages/BNT/BNT_TDMS
	url = https://github.com/HB-BNT/BNT_TDMS.git
